.card {
    width: 100%;
}

.contact-rows{
    margin-top: 10px;
}

.divider {
    padding-bottom: 8px;
    border-bottom: 1px solid #9d9c9c30;
}

.divider-right {
    border-right: 1px solid #80808030;
}